<section class="center-content">
    <div class="bg-dark-1 full-columns">
        <div class="container">
            <h1>Who am I</h1>
            <h6>Hi my name is Richard -- Richard Boomsma</h6>
            <p>Data, Visual, Electronic, Motorcycling and Interaction loving geek. 20 years old and born in Amsterdam, The Netherlands.
                Inspired by my dad when I was a child. I have never stopped loving the digital world we live in.</p>
            <p>I am a pretty quiet guy who always thinks forward. I like working alone but love working in a team. While at
                work I like to innovate and think of new ways of fixing a solution. A project is only as hard as you make
                it.</p>
        </div>
    </div>
</section>