<section class="center-content">
    <div class="bg-dark-1 full-columns">
        <div class="container center-content">
            <div class="column is-three-quarters-tablet content">
                <div class="title transition-zoom-delay-1">Who am I</div>
                <div class="subtitle transition-zoom-delay-2">Hi my name is Richard -- Richard Boomsma</div>
                <p class="transition-zoom-delay-3">Data, Visual, Electronic, Motorcycling and Interaction loving geek. 21 years old and born in Amsterdam, The
                    Netherlands. Inspired by my dad when I was a child. I have never stopped loving the digital world we
                    live in.</p>
                <p class="transition-zoom-delay-4">I am a pretty quiet guy who always thinks forward. I like working alone but love working in a team. While
                    at work I like to innovate and think of new ways of fixing a solution. A project is only as hard as you
                    make it.
                </p>
            </div>
        </div>
    </div>
</section>