section {
    display: flex;
    flex-direction: column;

    background-color: #263238;
    color: #f5f5f5;
    min-height: 100vh;
    padding: 1.5em;
    padding-left: 6.5em;
    overflow: hidden;
}

@media (max-width: 767px) {
    section {
        padding-left: 1.5em;
        min-height: calc(100vh - 3.5em);
    }
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.center-content {
    display: flex;
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.transition-zoom-delay-1 {
    animation: fadeIn 0.5s 0.05s both;
}
.transition-zoom-delay-2 {
    animation: fadeIn 0.5s 0.1s both;
}
.transition-zoom-delay-3 {
    animation: fadeIn 0.5s 0.175s both;
}
.transition-zoom-delay-4 {
    animation: fadeIn 0.5s 0.275s both;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.bg-black {
    background-color: black;
}

.bg-dark-1 {
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-dark-2 {
    background-color: rgba(0, 0, 0, 0.75);
}

.full-columns {
    margin-left: -1.5em;
    margin-right: -1.5em;
}

h1 {
    font-size: 2em;
}

.content, .content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .title, .subtitle {
    color: #f5f5f5 !important;
}
