section {
    display: flex;
    flex-direction: column;

    background-color: #263238;
    color: #f5f5f5;
    min-height: 100vh;
    padding: 1.5em;
    padding-left: 6.5em;
    overflow: hidden;
}

@media (max-width: 767px) {
    section {
        padding-left: 1.5em;
        min-height: calc(100vh - 3.5em);
    }
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.center-content {
    display: flex;
    justify-content: center;
}