@{ ViewData["Title"] = "Richard Boomsma"; }

<app></app>

<div class="loading">
    <div class="loading-content">
        <div class="emoji-face">ʕ·ᴥ·ʔ</div>
        <div class="subtitle">BEAR WITH ME!</div>
        <div class="subtitle"><small>...LOADING...</small></div>
    </div>
</div>

<script src="~/dist/vendor.js" asp-append-version="true"></script> @section scripts {
<script src="~/dist/main-client.js" asp-append-version="true"></script> }