@{ ViewData["Title"] = "Richard Boomsma"; }

<app></app>

<div class="loading">
    <div class="loading-content">
        <div class="emoji-face">=^._.^= ∫</div>
        <div class="subtitle">MEEEOOOOWWW!</div>
        <div class="subtitle"><small>...LOADING...</small></div>
    </div>
</div>

<script src="~/dist/vendor.js" asp-append-version="true"></script>
<script src="~/dist/main-client.js" asp-append-version="true"></script>

<link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />