<div class="loading-overlay center-content vertical" [ngClass]="{'loadingEnter':loadEnter, 'loadingExit':loadExit}">
    <div class="has-text-centered">
        <div class="emoji-face">ʕ·ᴥ·ʔ</div>
        <div class="subtitle">LOADING!</div>
    </div>
</div>
<nav class="nav">
    <div class="nav-left">
        <a class="nav-titel-icon">
            <h1>R</h1>
            <p>@rainslayerx</p>
        </a>
    </div>
    <div class="nav-center">
        <a (click)="navigateAnimated('/home')" [ngClass]="{isActive: (currentPath == '/home')}" class="nav-item is-tab">
            <i class="fa fa-home" aria-hidden="true"></i>
            <p>Home</p>
        </a>
        <a (click)="navigateAnimated('/aboutme')" [ngClass]="{isActive: (currentPath == '/aboutme')}" class="nav-item is-tab">
            <i class="fa fa-user" aria-hidden="true"></i>
            <p>About Me</p>
        </a>
        <a (click)="navigateAnimated('/experience')" [ngClass]="{isActive: (currentPath == '/experience')}" class="nav-item is-tab">
            <i class="fa fa-code" aria-hidden="true"></i>
            <p>Experience</p>
        </a>
        <a (click)="navigateAnimated('/projects')" [ngClass]="{isActive: (currentPath == '/projects')}" class="nav-item is-tab">
            <i class="fa fa-laptop" aria-hidden="true"></i>
            <p>Projects</p>
        </a>
    </div>
    <div class="nav-right">
    </div>
    <div class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>