<section class="center-content">
    <div class="hero center-content full-columns">
        <div class="bg-dark-1 center-content">
            <div class="hero-main-content horizontal flex-wrap center-content transition-zoom-delay-1">
                <div class="clip-circle"></div>
                <div class="center-content vertical has-text-centered">
                    <h1 class="title center-on-mobile">
                        Richard Boomsma
                    </h1>
                    <h2 class="subtitle center-content is-flex flex-wrap">
                        Websites, Games, Apps. <small><< You name it >></small>
                    </h2>
                </div>
            </div>
        </div>
        <div class="columns bg-dark-2">
            <div class="column">
                <h6 class="info-text transition-zoom-delay-2 has-text-centered">
                    Welcome on my portfolio, feel free to use the navigation bar on the left to browse my website. Enjoy!
                </h6>
            </div>
        </div>
    </div>
</section>