section {
    background: url("~/images/back1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.clip-circle {
    background: url("~/images/selfie.jpg") no-repeat;
    background-size: 125% 200%;
    background-position: -1.75em -8.25em;
    min-height: 250px;
    min-width: 250px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.8);
}

.full-section-size {
    height: calc(100vh - 3em);
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: transparent;
}

.center-content {
    justify-content: center;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

.title,
.subtitle,
.info-text {
    color: inherit;
    font-weight: 300;
}

.title {
    font-size: 2rem;
}

.subtitle {
    font-size: 1.5rem;
}

.info-text {
    font-size: 1.1rem;
}

@media (max-width: 767px) {
    .center-on-mobile {
        margin-left: auto;
        margin-right: auto;
        float: unset;
    }
}

.bg-black {
    background-color: black;
}
.bg-dark-1 {
    background-color: rgba(0, 0, 0, 0.5);
}
.bg-dark-2 {
    background-color: rgba(0, 0, 0, 0.75);
}
.pad-3 {
    padding: 3em;
}

.full-columns {
    margin-left: -1.5em;
    margin-right: -1.5em;
}

.spacer-non-touch {
    padding-right: 4em;
}